@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: Karla, Verdana, Arial, Helvetica, sans-serif;
}

.navbar {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.31rem 1.25rem 1.25rem;
}

.navbar-heading {
  display: flex;
  font-weight: 700;
  font-size: 1.3rem;
}

.navbar-logo {
  width: 2em;
  margin-right: 0.5em;
}

.course-name {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.meme-form {
  margin: 2.4rem;
  max-width: 1000px;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.form-inputs input {
  width: 42vw;
  height: 2.3rem;
  border: 1px solid #d5d4d8;
  border-radius: 8px;
  text-indent: 1rem;
  font-weight: 400;
  font-family: Karla, Arial, Helvetica, sans-serif;
  color: #0d0d0d;
  margin-bottom: 2rem;
}

.meme-btn {
  display: flex;
  padding: 10px 0;
  border-radius: 8px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  text-align: center;
  color: white;
  justify-content: center;
  cursor: pointer;
  line-height: 18.7px;
  font-size: 1rem;
  font-weight: 700;
  font-family: Karla, Arial, Helvetica, sans-serif;
}

.meme-btn ::after {
  margin-left: 0.5rem;
  content: "\1F5BC";
}

.meme-btn:hover {
  background: linear-gradient(90.41deg, #a818da 1.14%,  #711f8d 100%);
}
.meme-btn:active {
  background: linear-gradient(90.41deg, #aa18dab6 1.14%,  #721f8dbc 100%);
}

main {
  display: flex;
  justify-content: center;
}





