@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Karla, Verdana, Arial, Helvetica, sans-serif;
}

.navbar {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.31rem 1.25rem 1.25rem;
}

.navbar-heading {
  display: flex;
  font-weight: 700;
  font-size: 1.3rem;
}

.navbar-logo {
  width: 2em;
  margin-right: 0.5em;
}

.course-name {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}